body{
    background-color: #13072E !important;
    font-style: italic;
    background-size: cover;
    background-repeat: no-repeat;
}

.description {
    display: grid;
    justify-content: center;
    align-items: center;
    color: #6366f1;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: #6366f1;
    font-size: 20px;

}
.description img{
    width: 150px;
    align-items: center;
    margin-bottom: 90px;
}
.description h1{
   margin-top:5rem;
   font-size: 60px;
   text-align: right;
   margin-right: 30px;
    font-style: bold;
}
.con{
    height: 100vh;
    background-image: url(img/1.png);
    background-size: cover;
}
.sec2{
    margin: -34px 0px 40px;
    padding: 0;
    box-sizing: border-box;
    width: 99%;
    min-height: 63vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden !important;
    margin-bottom: 40px;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 35px !important;
    z-index: 1;
  }
  
  .swiper-slide {
    width: 300px;
    height: 400px;
    filter: grayscale(100%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: self-start;
    overflow: hidden;
  }
  .swiper-slide-active {
      filter: blur(0px);
    }
  .swiper-slide {
    flex-shrink: 0;
    width:40vh !important;
    height: 50vh !important;
    position: relative;
    transition-property: transform;
  }
  
  .swiper-slide span {
    text-transform: uppercase;
    color: #fff;
    background: #3380c0;
    padding: 7px 18px 7px 25px;
    display: inline-block;
    border-radius: 0 20px 20px 0px;
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 10px;
  }
  
  .swiper-slide--one span {
      background: #055596;
    margin-bottom: 10px;
  }
  
  
  

.button-85 {
    margin-top: 60px;
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-85:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #ff00b3 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 90px;
      padding-top: 60%;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
/* .description h2{
    margin-top: 60px;
    text-align: right;
    margin-right: 30px;
    display: grid;
    justify-content: left;
    align-items: left;
 } */

  .xx a{
    text-decoration: none;
    color: white;
    width: 200px !important;
    font-size:20px; 
    width: 300px !important;
    border-radius: 60px 140px 40px 140px;
    background-color: #055596 !important;
    filter: drop-shadow(10px 7px 5px #002341);
    display: block; 
    margin: 4% !important;

    height: 40px;
    padding-top: 7px;
    padding-bottom: 5px;
}
.xx  {
text-align: left;
font-weight: 900;
justify-content: space-between;
margin-top: 50px;
}
.xx h1{
    color: white;
    margin-top:30px;
 }
 .xx p{
    margin: 0% !important;
    padding: 0% !important;
 }
 @import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");
 * {
   box-sizing: border-box;
 }
 :root {
   --Sniglet-font: "Sniglet", cursive;
   --Rubik: "Rubik", cursive;
   --Patua: "Patua One", cursive;
   --Lobster: "lobster", cursive;
   --light-black: #2e2c2caf;
   --bggradient: linear-gradient(to bottom, #dd2476, #ff512f);
   --light-gray: rgba(255, 255, 255, 0.877);
 }
 .numbers .rect {
   position: relative;
   z-index: 1;
   background: white;
   width: 17rem;
   height: 12rem;
   padding-top: 3.5vmin;
   margin: 1rem;
   border-radius: 0.5em;
   box-shadow: 1px 2px 50px 0px rgba(255, 0, 255, 0.349);
 }
 
 .numbers {
   margin-top: 3vmin;
 }
 
 .numbers .rect h1 {
   font-size: 5rem;
   color: #13072E;
 }
 
 .numbers .rect > p {
   font-family: var(--Patua);
 }
 @media only screen and (max-width: 768px) {
 
   .numbers .rect {
     width: 10rem;
     height: 8rem;
   }
   .numbers .rect h1 {
     font-size: 2rem;
   }
 
 }
 .custom-shape-divider-top-1709003081 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1709003081 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 206px;
}

.custom-shape-divider-top-1709003081 .shape-fill {
    fill: #13072E;
}
.button-89 {
    --b: 7px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #6366f1;
    
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 20px;
  margin-top: 20px;
    border: 0;
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-89:hover,
  .button-89:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
  }
  
  .button-89:active {
    background: var(--color);
    color: #fff;
  }
  .buttn{
    display: grid;
    gap: 20px;
    width: auto;
  }
  
.container3 {
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
  margin-top: 90px !important;
}

.field {
	
	align-items: center;
	justify-content: space-around;
	width: 300px;
  display: fixed;

}

@keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}

@-webkit-keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}

.scroll {
	width: 60px;
	height: 60px;
	border: 2px solid #ffffff;
	border-radius: 50%;
	position: relative;
	animation: down 1.5s infinite;
	-webkit-animation: down 1.5s infinite;
	&::before {
		content: '';
		position: absolute;
		top: 15px;
		left: 18px;
		width: 18px;
		height: 18px;
		border-left: 2px solid #ffffff;
  	border-bottom: 2px solid #ffffff;
		transform: rotate(-45deg);
	}
}

@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

@-webkit-keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

.arrow {
	width: 0;
	height: 40px;
	border: 1px solid #333;
	position: relative;
	animation: scroll 1.5s infinite;
	-webkit-animation: scroll 1.5s infinite;
	&::after {
		content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: -5px;
    width: 1px;
    height: 10px;
    border-top: 10px solid #333;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
	}
}

@keyframes scroll {
	0% {
		height: 40px;
	}
	30% {
		height: 70px;
	}
	60% {
		height: 40px;
	}
}

@-webkit-keyframes scroll {
	0% {
		height: 40px;
	}
	30% {
		height: 70px;
	}
	60% {
		height: 40px;
	}
}

#perloder{
  background:#13072E url(img/galaxi.gif) no-repeat center !important;
    background-size: 44rem !important;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
}
